<footer data-block-layout="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<div class="bg-primary">
		<div class="container py-10 grid gap-10 grid-cols-1 md:grid-cols-3">
			<div>
				{% partial "blocks/logo/logo" data = {
					cssClasses: "h-[45px] inline-block lg:mr-4 lg:mr-auto lg:h-[60px]",
					color: "light"
				} %}
				<div class="prose mt-4 prose-p:text-white text-sm">{{ siteConfig.footer_text|raw }}</div>
			</div>
			<div>
				<div class="text-2xl uppercase font-italic font-secondary text-white mb-4 md:mb-8 md:text-3xl">{{ "Contact"|_ }}</div>
				<div class="mb-4">
					{% for item in siteConfig.addresses %}
						{% if item.link_direction %}
							<a href="{{ item.link_direction }}" target="_blank" class="flex items-center transition hover:text-secondary text-white mb-2 last:mb-0">
								{{ item.address|raw }}
							</a>
						{% else %}
							<div class="flex items-center text-white mb-2 last:mb-0">
								{{ item.address|raw }}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="mb-4">
					{% for item in siteConfig.phones %}
						<div class="flex items-center">
							{% if loop.first %}
								{% partial "blocks/icon-svg/icon-svg" data = {
									cssClasses: "w-5 h-6 fill-white mr-3 shrink-0 self-start xl:mr-6",
									name: "mobile"
								} %}
							{% endif %}
							<a href="tel:+{{ item.phone|replace({'+':'','-':'',' ':'','(':'',')':''}) }}" class="transition text-white hover:text-secondary truncate {{ not loop.first ? "mt-1 ml-8 xl:ml-11" }}">{{ item.phone }}</a>
						</div>
					{% endfor %}
				</div>
				<div>
					{% for item in siteConfig.emails %}
						<div class="flex items-center">
							{% if loop.first %}
								{% partial "blocks/icon-svg/icon-svg" data = {
									cssClasses: "w-5 h-5 fill-white mr-3 mt-0.5 shrink-0 self-start xl:mr-6",
									name: "email"
								} %}
							{% endif %}
							<a href="mailto:{{ item.email }}" class="transition text-white hover:text-secondary truncate {{ not loop.first ? "mt-1 ml-8 xl:ml-11" }}">{{ item.email }}</a>
						</div>
					{% endfor %}
				</div>
				{% if siteConfig.social_links %}
					<ul class="-m-2 list-inside flex flex-wrap mt-4">
						{% for social in siteConfig.social_links|filter(social => social.url) %}
							<li class="flex m-2">
								<a href="{{ social.url }}" target="_blank" class="bg-white transition p-2 rounded-sm group hover:scale-105">
									{% partial "blocks/icon-svg/icon-svg" data = {
										name: social.code,
										cssClasses: "w-6 h-6 fill-primary group-hover:fill-secondary transition"
									} %}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if siteConfig.whatsapp_phone %}
					{% partial "blocks/button/button" data = {
						cssClasses: "mt-10",
						tag: "a",
						body: "Contact us by Whatsapp",
						variant: "",
						color: "",
						size: "",
						attributes: {
							href: "https://wa.me/+"~siteConfig.whatsapp_phone|replace({"+":"","-":""," ":"","(":"",")":""})~"?text=Hello!",
						}
					} %}
				{% endif %}
			</div>
			<div>
				<div class="text-2xl uppercase font-italic font-secondary text-white mb-4 md:mb-8 md:text-3xl">{{ "Quick links"|_ }}</div>
				{% partial "layout/menu-footer/menu-footer" data = {
					cssClasses: ""
				} %}
			</div>
		</div>
	</div>
	<div class="bg-primary-darker">
		<div class="container py-6">
			<div class="flex flex-col items-center md:flex-row md:justify-between">
				<div class="text-white text-center">
					{% set year_from = siteConfig.year_from %}
					{% set year_current = 'now'|date('Y') %}
					© {{ year_from is empty or year_from == year_current ? year_current : year_from~"-"~year_current }}
					{{ siteConfig.copyright }}
				</div>
			</div>
		</div>
	</div>
</footer>
