{% set variants = {
    "default": {
        "baseBlockClasses": 'cursor-pointer inline-flex items-center justify-center text-center leading-tight rounded-sm font-extrabold transition-all focus:outline-none focus:ring',
        "baseIconClasses": "mr-5",
        "colors": {
            'primary': {
                "colorBlockClasses": 'text-white bg-primary-light hover:bg-primary',
                "colorIconClasses": "fill-white"
            },
            'secondary': {
                "colorBlockClasses": 'text-white bg-secondary-light hover:bg-secondary',
                "colorIconClasses": "fill-white"
            },
            'tertiary': {
                "colorBlockClasses": 'text-default-darker bg-tertiary-light hover:bg-tertiary',
                "colorIconClasses": "fill-default-darker"
            },
            'dark': {
                "colorBlockClasses": 'text-white bg-default-darker hover:bg-default-darkest',
                "colorIconClasses": "fill-white"
            },
            'light': {
                "colorBlockClasses": 'text-default-darker bg-default-lightest hover:bg-default-lighter',
                "colorIconClasses": "fill-default-darker"
            }
        },
        "sizes": {
            'xs': {
                "sizeBlockClasses": "text-xs px-4 py-1.5",
                "sizeIconClasses": "w-4 h-4"
            },
            'sm': {
                "sizeBlockClasses": "text-sm px-5 py-2",
                "sizeIconClasses": "w-5 h-5"
            },
            'md': {
                "sizeBlockClasses": "text-base px-6 py-2.5",
                "sizeIconClasses": "w-6 h-6"
            },
            'lg': {
                "sizeBlockClasses": "text-lg px-7 py-3",
                "sizeIconClasses": "w-7 h-7"
            },
            'xl': {
                "sizeBlockClasses": "text-xl px-8 py-3.5",
                "sizeIconClasses": "w-8 h-8"
            }
        }
    },
    "outline": {
        "baseBlockClasses": 'cursor-pointer inline-flex items-center justify-center text-center leading-tight rounded-sm font-extrabold bg-transparent outline outline-1 outline-offset-[-1px] transition-all focus:outline-none focus:ring',
        "baseIconClasses": "mr-5",
        "colors": {
            'primary': {
                "colorBlockClasses": 'text-primary outline-primary hover:text-white hover:bg-primary',
                "colorIconClasses": "fill-primary"
            },
            'secondary': {
                "colorBlockClasses": 'text-secondary outline-secondary hover:text-white hover:bg-secondary',
                "colorIconClasses": "fill-secondary"
            },
            'tertiary': {
                "colorBlockClasses": 'text-tertiary-darker outline-tertiary hover:text-default-darker hover:bg-tertiary',
                "colorIconClasses": "fill-tertiary-darker"
            },
            'dark': {
                "colorBlockClasses": 'text-default-darker outline-default-darker hover:text-white hover:bg-default-darker',
                "colorIconClasses": "fill-default-darker"
            },
            'light': {
                "colorBlockClasses": 'text-white outline-white hover:text-default-darker hover:bg-white',
                "colorIconClasses": "fill-white"
            }
        },
        "sizes": {
            'xs': {
                "sizeBlockClasses": "text-xs px-4 py-1.5",
                "sizeIconClasses": "w-4 h-4"
            },
            'sm': {
                "sizeBlockClasses": "text-sm px-5 py-2",
                "sizeIconClasses": "w-5 h-5"
            },
            'md': {
                "sizeBlockClasses": "text-base px-6 py-2.5",
                "sizeIconClasses": "w-6 h-6"
            },
            'lg': {
                "sizeBlockClasses": "text-lg px-7 py-3",
                "sizeIconClasses": "w-7 h-7"
            },
            'xl': {
                "sizeBlockClasses": "text-xl px-8 py-3.5",
                "sizeIconClasses": "w-8 h-8"
            }
        }
    }
} %}

{% set blockClasses = [
    data.cssClasses,
    variants[data.variant|default("default")].baseBlockClasses,
    variants[data.variant|default("default")].colors[data.color|default("primary")].colorBlockClasses,
    variants[data.variant|default("default")].sizes[data.size|default("md")].sizeBlockClasses,
]|join(" ") %}

{% set iconClasses = [
    variants[data.variant|default("default")].baseIconClasses,
    variants[data.variant|default("default")].colors[data.color|default("primary")].colorIconClasses,
    variants[data.variant|default("default")].sizes[data.size|default("md")].sizeIconClasses,
]|join(" ") %}

<{{ data.tag|default('button') }} data-block="{{ (_self|split('/')|last|split('.')|first) }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %} class="{{ blockClasses }}">
    {% if data.icon %}
        {% partial "blocks/icon-svg/icon-svg" data = {
            cssClasses: iconClasses,
            name: data.icon
        } %}
    {% endif %}
    {{ body ? body|raw : data.body|raw }}
</{{ data.tag|default('button') }}>
