<div 
    data-block="{{ (_self|split('/')|last|split('.')|first) }}" 
    data-video-id="{{ data.videoUrl|split('/')|last|split('?')|first }}"
    class="{{ data.cssClasses }} relative aspect-video overflow-hidden rounded-sm bg-black" 
    {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %}
>
    {% if data.videoUrl %}
        {# Container where YT API will inject the iframe #}
        <div class="js-youtube-embed-container absolute inset-0 w-full h-full pointer-events-none"></div>
    {% else %}
        <div class="absolute inset-0 flex items-center justify-center bg-primary-dark text-white/50">
            No video URL provided
        </div>
    {% endif %}
</div>
