<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }} {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %}">
	<div class="grid gap-10 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3">
		{% for item in data.items %}
			<div class="flex">
				<img src="{{ item.icon|media }}" alt="{{ item.title }}" class="w-full max-h-16 max-w-16">
				<div class="flex flex-col justify-start items-start pl-2">
					<div class="text-lg font-medium mb-1 text-primary">{{ item.title }}</div>
					<div class="font-light text-white">{{ item.text|raw }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
