url = "/:slug*"
layout = "default"
title = "Page"

[section builder]
handle = "Builder"
identifier = "fullslug"
value = "{{ :slug }}"
isDefault = 1
==
function onStart()
{
    $this['isBackendUser'] = BackendAuth::check();
}
==
{% if builder is empty %}{% do abort(404) %}{% endif %}
{% if builder.is_hidden and not isBackendUser %}{% do abort(404) %}{% endif %}

{% put meta %}
{% partial "layout/meta/meta" data = {
    title: builder.meta_title ?: builder.title,
    description: builder.meta_description ?: builder.title,
    og_image_1200_630: "",
    og_image_1200_1200: ""
} %}
{% endput %}

<div data-page="{{ (_self|split('/')|last|split('.')|first) }}">
    {% if builder.containers is empty %}
        <div class="text-default-dark">{{ __("Content coming soon.") }}</div>
    {% else %}
        {% partial "layout/builder/builder" builder=builder %}
    {% endif %}
</div>