<header data-block-layout="{{ (_self|split('/')|last|split('.')|first) }}" class="bg-primary-lightest transition-all duration-1000 ease-in-out top-0 w-full z-40 border-b-3 border-primary-lighter {{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<div class="container py-2 flex justify-between items-center">
		{% partial "blocks/logo/logo" data = {
			cssClasses: "h-[45px] lg:mr-4 lg:mr-auto md:h-[65px]",
			color: "colored"
		} %}
		<div class="flex flex-col items-end ml-auto mr-4 md:mr-0">
			{% partial "blocks/language-picker/language-picker" data = {
				cssClasses: ""
			} %}
				{% partial "layout/menu-header/menu-header" data = {
				cssClasses: "hidden md:flex md:ml-auto -mb-[15px] lg:-mb-[12px]"
			} %}
		</div>
		<div class="js-burger js-menu-mobile-trigger w-10 h-10 md:hidden">
			{% partial "blocks/burger/burger" data = {
				cssClasses: "",
				variant: "",
				size: "",
				color: "primary",
				active: "",
				attributes: {}
			} %}
		</div>
	</div>
</header>
